body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  
}

.board{    
    margin: auto;    
}

.playBtn{     
    border-radius: 50px;
    background-color: #64DD17;
    text-align: center;   
    color:white;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;

}

.circle{
    border-radius: 50%;
    position: absolute;
    transition: all 0.1s ease;
}